<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="en">
<html>
<head>
    <title>Bejelentkezes</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Bejelentkezes</h1>
<form action="login" method="post">
    <label for="username">Felhasznalonev:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Jelszo:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Bejelentkezes">
</form>
</body>
</html>
